.div-error {
    background-color: #f8d7da;
    color: #721c24;
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0.1rem;
    padding: 1.2rem 0.8rem;
    width: 100%;
}

.close-error {
    float: right;
    cursor: pointer;
}